* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #15202B;
  color: white;

  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

hr{
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}