.user_profile_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_fields_layout {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 200px auto;
}

.profile_fields_layout .icon_field:not(:last-child) {
    margin-bottom: 10px;
}

.user_profile_layout button {
    align-self: flex-end;
}

.profile_picture_container{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.profile_picture_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}