.post_item{
    width: 100%;
    height: 300px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 30px auto;
}

.post_item_header {
    display: flex;
    align-items: center;
    z-index: 2;
    padding: 10px;
    font-weight: 100;
    font-size: 1.4rem;
}

.post_item_header img {
    margin-right: 10px;
    align-self: flex-start;
}

.post_item_image {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.social_icon_layout {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.post_item_image:hover .social_icon_layout{
    opacity: 1;
    transition: 0.5s;
}